@media screen and (min-width: 320px ) and (max-width: 425px){
    .wrapper{
        background: #191919;
        width: 100%;
        margin: 0 auto;
    }

    .container{
        max-width: 90%;
        margin: 0 auto;
    }

    .nav{
        display: flex;
        padding-left: 10px;
        align-items: center;
        width: 100%;
        height: 60px;
        background: #191919;
        position: fixed;
        z-index: 5;
        box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    }

    .nav__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    #burger, #toggle{
        display: none;
    } 
    .menu__item{
        list-style: none;
        height: 100%;
        padding: 0 20px;
        line-height: 60px;
        color: #fff;
    }
    .menu__item:hover{
        background: #3468AC;
        color: #fff;
    }
    .menu__link{
        text-decoration: none;
        color: inherit;
    }

    a{ 
        text-decoration: none; 
    } 

    .header{
         width: 100%;
    }
    .header__box{ 
        display: grid; 
        grid-template-rows: 13% 33% repeat(3, 6%) 33%; 
        grid-template-columns: 20% 60% 20%; 
        height: 780px; 
    } 

    .header__avatar{ 
        width: 100%; 
        grid-row: 2/3; 
        grid-column: 2; 
    } 

    .header__img{
        grid-column: 1/4;
        grid-row: 1/3;
        width: 100%;
    }
    .header__name{ 
        grid-row: 3/4; 
        grid-column: 2; 
        text-align: center; 
        color: #FFFFFF; 
    } 
    h3{ 
        font-weight: 400; 
        font-size: 18px; 
        line-height: 21px; 
    } 
    h5{ 
        font-weight: 300; 
        font-size: 15px; 
        line-height: 16px; 
        margin-top: 5px; 
    } 
    .header__links{ 
        display: flex; 
        justify-content: center; 
        grid-row: 4/5; 
        grid-column: 2; 
        align-items: center; 
    } 
    .header__link{ 
        padding-right: 18px; 
    } 
    .header__link-img{ 
        width: 25px; 
    } 
    .header__link:nth-child(3){ 
        padding-right:0px; 
    } 
    .header__content{ 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-around; 
        text-align: center; 
        grid-column: 1/ span 3; 
        grid-row: 5/7; 
        text-align: center; 
    } 
    .header__text{ 
        max-width: 255px; 
        color: white; 
        font-weight: 400; 
        font-size: 14px; 
        line-height: 22px; 
    } 
    .header__button{ 
        color: white; 
        font-weight: 400; 
        font-size: 14px; 
        line-height: 22px; 
        border-radius: 25px; 
    } 

    

    .red{ 
        background: #ED3024; 
        padding: 13px 28px; 
    } 
    .blue{ 
        background: #3137C9; 
        padding: 13px 18px; 
    }

    .slider-blog__wrapper {
        display: flex;
        justify-content: space-around;
    }

    .slider-blog__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 5px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px; 
        color: #e6e6e6;
        width: 43.75%;
        height: 195px;
        border-radius: 5px;   
    }

    .slider-blog__text--two {
        display: flex;
        justify-content: right;
    }

    .slider-div__one{
        background-image: url('../img/slider/fier.jpg');
        background-size: cover;
    } 

    .slider-div__two{
        background-image: url('../img/slider/finger.jpg');
        background-size: cover;
    }

    .slider-div__three{
        background-image: url('../img/slider/I.jpg');
        background-size: cover;
    }

    .slider-div__four{
        background-image: url('../img/slider/rose.jpg');
        background-size: cover;
    }

    .slider-div__five{
        background-image: url('../img/slider/ann.jpg');
        background-size: cover;

    }

    .slider-div__six{
        background-image: url('../img/slider/колектив.jpg');
        background-size: cover;
    }

    .slider-blog__box--two {
        
        width: 43.75%;
        height: 195px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .slick-dots button {
        transition: all .3s;
        background: transparent;
        border: none;
        width: 10px;
        height: 10px;
        background: #D2D2D2;
        border-radius: 100px;
        margin-left: 10px;
        font-size: 0;
        padding: 0;
    }

    .slick-dots .slick-active button {
        opacity: 1;
        background: #ED3023;
    }

    .news{
        margin-top: 20px;
    }

    .news__item{
        background: #202020;
        box-shadow: 0px 15px 25px rbga(0, 0, 0, 0.35);
        border-radius: 5px;
        margin-top: 20px;
    }

    .news__box{
        padding: 13px 15px;
    }

    .news__text{
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #828282;
    }

    .news__subtext{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .news__data{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #828282;
    }

    .news__img{
        width: 100%;
        margin-top: 60px;
    }

    .news__link{
        color:#107eff;
    }

    .tabs{
        display: flex;
        justify-content: center;
        padding: 30px 0 50px 0;
    }

    .tabs__link{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        background: #0d0d0d;
        box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.15);
        border-radius: 3px;
        padding: 12px 16px;
        color: #fff;
    }

    .tabs__link + .tabs__link{
        margin-left: 20px;
    }

    .tabs__link--active{
        background: #104BE3;
    }

    li{
        list-style-type: none;
    }

    .news__link--new {
        display: flex;
        justify-content: center;
        background: #3137C9;
        color: #fff;
        padding: 10px 18px;
        box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
        border-radius: 5px;
    }

    .news__img{
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 960px){
    .menu{
        width: 100%;
    }
    .menu__item, [class^="block"]{
        float: left;
    }
        [class^="block"]{
          width: calc(100% / 2 - 13px * 2);
        }
 }


 @media screen and (max-width: 640px){
    #toggle {
    display: block;
    position: absolute;
    width: 30px;
    height: 26px;
    top: calc(50% - 13px);
    right: 13px;
    cursor: pointer;
    }
    
#toggle > span {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    margin-top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
    
#burger:checked ~ #toggle > span {
    background: transparent;
}
    #toggle > span:before, #toggle > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    transition: 0.3s;
}
    #toggle > span:before{
    bottom: 9px;
}
#toggle > span:after {
    top: 9px;
}
#burger:checked ~ #toggle  span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}
#burger:checked ~ #toggle  span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
}
.menu{
    width: calc(100% - 26px);
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -100%;
    top: 73px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
#burger:checked ~ .menu{
    left: 13px;
    opacity: 1;
    visibility: visible;
    }
}


